.main {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  height: 600px;
  width: 100%;
}

.switch input {
  opacity: 0;
}
.switch {
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 26px;
  background-color: burlywood;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.switch label {
  display: flex;
  align-items: center;
  gap: 20px;
}

.switch label > span:last-child {
  margin-left: 120px;
  margin-top: 6px;
}
.switch .slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: brown;
}

.switch:has(input:checked) .slider {
  background-color: black;
}
.switch:has(input:checked) .slider::before {
  left: calc(100% - 30px);
}
